:root {

     /****************color***********************/
     --main-text: #333;
     --secondary-text: #383838;
     --h2-blue: #2079C7;
     --background-light: #f4f4f7;
}

/**************************Layout*******************************/

header {
    position: sticky;
    top: 0;
    padding: 1rem 0;
    background-color: var(--background-light);   
}

main {
    max-width: 900px;
    margin: 1rem auto;
    padding: 1rem;
    display:grid;
    grid-template-columns: 1fr 1fr .25fr 1fr;
    grid-template-rows:auto;
    grid-template-areas:
    "h1 h1 h1 address"
    "main main . sidebar"
}

.main-content {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

nav ul {
    display: flex;  
    justify-content: flex-start;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

nav li {
    padding-right: 2rem;
}


/******************************Typography************************************/

html {
    font-size: 28px;
    color: var(--main-text);
    font-family: 'Merriweather', serif;
    background: var(--background-light);
}

h1 {
    grid-area: h1;
    margin: 0 0 5rem;
    font-size: 2rem;
}


h2 {
    font-size: .625rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--h2-blue);
    text-transform: uppercase;
}

h3 { 
    margin: .5ch auto;
    font-size: .75rem;
    font-weight: bold;
}

h4 { 
    margin: .5ch auto;
    font-size: .75rem;
    font-style: italic;
    font-weight: normal;
}

h5 {
    font-size: .625rem;
    color: var(--secondary-text);
    margin: 0 auto;
}


p {
    line-height: 1.25;
    font-size: .625rem;
    margin: .25rem auto 2ch;
    color: var(--secondary-text);
}

ul {
    padding-left: 0;
    list-style: none;
}


date {

    font-size: .625rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--secondary-text);   
}

address {
    grid-area: address;
    font-family: 'Open Sans', sans-serif;
    font-size: .625rem;
}

.employer-info {
    margin-bottom: 2rem;
}

.empl-location {
    font-weight: normal;
}


.nav-link {
    text-decoration: none;
    font-size: .625rem;
    font-family: 'Open Sans', sans-serif;
    color:var(--main-text);
}

.nav-link:hover {
    color: var(--h2-blue);
}

a:visted {
    color: inherit;
}

.roles li {
    margin-bottom: 1.5rem;
}

.sidebar li {
    line-height: 1.65;
    font-size: .625rem;
    color: var(--secondary-text);
}

#education-list h4 {
    font-size: .625rem;
}

.shadow {
    box-shadow: 1px 1px 25px grey;
}
/*****************************Media Queries*********************************/

@media only screen and (max-width: 768px) {

    main {
        display: block;
        margin-top: 0;
        padding-top: 0;
    }

    h1 {
        margin: .5rem 0;
    }
    
    address {
        margin-bottom: 2rem;;
    }

    nav li {
        padding-right: .75rem;   
    }
    
}