:root {

    /*===============colors============== */
    --main-color: #07689f;
    --second-color: #a2d5f2;
    --light-color: #fafafa;
    --accent-color: #ff7e67;
    --dark-mode-dark: #00111b;

  }

body {
    background-color: var(--main-color, #07689f);
    color: var(--light-color, white);
    font-family: 'Quicksand', sans-serif;
}

h1 {

    font-family: 'Rhodium Libre', serif;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1em;
    height: 80vh;
}


.placeholder-marquee {

  margin-top: 3em;
}

.lightswitch {

  margin-top: 3em;
 
}

button {
   padding: .5em;
   font-weight: bold;
   background: rgba(0, 0, 0, .0);
   border: 2px solid var(--light-color);
   border-radius: 2px;
   color: var(--light-color);
   transition-duration: .3s;
}

button:hover {
  cursor: pointer;
  background: var(--light-color);
  color:var(--dark-mode-dark);
}

.title {
    font-size: 4em;
}

.subtitle {
    font-size: 1em;
}

/*============== dark style ================= */

.dark {

  background: var(--dark-mode-dark);
  color: #fff;
 
}

.neon {

  /* adapted from https://codepen.io/silvia-odwyer/pen/RwKMWqm */

  text-shadow:
  0 0 2px #fff,
  0 0 8px #fff,
  0 0 10px var(--main-color),
  0 0 36px var(--main-color),
  0 0 60px var(--main-color),
  0 0 65px var(--main-color),
  0 0 70px var(--main-color),
  0 0 100px var(--main-color);

  animation: flicker 2.5s infinite alternate;
}

/*============== media queries ================= */

@media only screen and (min-width: 768px) {
 

    .title {
        font-size: 8em;
    }

    .subtitle {
        font-size: 2em;
    }

}

@media screen and (prefers-reduced-motion) { 
  html {
    animation: none;
  }
}


/*============== keyframes ================= */

@keyframes flicker {

  100% {
    text-shadow:
    0 0 2px #fff,
    0 0 8px #fff,
    0 0 10px var(--main-color),
    0 0 36px var(--main-color),
    0 0 60px var(--main-color),
    0 0 65px var(--main-color),
    0 0 70px var(--main-color),
    0 0 100px var(--main-color);
  }

  0% {

    text-shadow:
    0 0 2px rgba(235, 231, 231, 0.7),
    0 0 3px rgba(235, 231, 231, 0.7),
    0 0 3px var(--main-color),
    0 0 21px var(--main-color),
    0 0 28px var(--main-color),
    0 0 35px var(--main-color),
    0 0 40px var(--main-color),
    0 0 50px var(--main-color);

    color: rgba(0, 0, 0, .2)
  }


}