:root {

    /*===============colors============== */
    --main-color: #07689f;
    --second-color: #c4e7fc;
    --light-color: #fafafa;
    --accent-color: #ffbcb0;
    --dark-mode-dark: #00111b;
  }

body {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    min-height: 100vh;
    background-color: var(--main-color, #07689f);
    color: var(--light-color, white);
    font-family: 'Quicksand', sans-serif;
}

a {
  color: var(--light-color, white);
}

a:visited {
  color: var(--second-color, aliceblue);
}

a:hover {
  color: var(--accent-color, lightpink);
}

h1 {
    font-family: 'Rhodium Libre', serif;
}

p, small {
  line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
  margin-top: auto;
  padding-top: 1em;
}

.placeholder-marquee {
  margin-top: 2em;
}

.placeholder-marquee p {
  max-width: 90vw;
}

.lightswitch {
  margin-top: 3em;
}

button {
   padding: .5em;
   font-weight: bold;
   background: rgba(0, 0, 0, .0);
   border: 2px solid var(--light-color);
   border-radius: 2px;
   color: var(--light-color);
   transition-duration: .3s;
}

button:hover {
  cursor: pointer;
  background: var(--light-color);
  color:var(--dark-mode-dark);
}

.title {
    font-size: 4em;
}

.subtitle {
    font-size: 2em;
    line-height: 1.25;
}
 .social-icons {
  margin-top: .5em;
}

.social-icons a {
  margin-right: .25em;
}

/*============== dark style ================= */

.dark {
  background: var(--dark-mode-dark);
  color: var(--light-color);
}

.dark .title {
  background: linear-gradient(90deg, rgba(255,124,124,1) 0%, rgba(255,171,139,1) 10%, rgba(255,208,156,1) 20%, rgba(255,249,134,1) 33%, rgba(232,255,114,1) 43%, rgba(140,255,137,1) 54%, rgba(48,253,239,1) 64%, rgba(58,221,253,1) 76%, rgba(63,161,253,1) 86%, rgba(69,83,252,1) 98%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*============== media queries ================= */

@media only screen and (min-width: 767px) {
 
    .title {
        font-size: 8em;
    }

    .subtitle {
        font-size: 2em;
    }

    .placeholder-marquee {
      margin-top: 2.5em;
    }

    p {
      font-size: 1.25em;
    } 

}
 
@media screen and (prefers-reduced-motion) { 
  html {
    animation: none;
  }
}